#form-bottom {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%);
}

select {
  border: 3px solid black !important;
  padding: 7px;
  margin: 10px 0px;
  width: 100%;
}

input[type="submit"] {
  background-color: white !important;
  width: 100%;
  padding: 7px;
  margin: 10px 0px;
  border: 3px solid black !important;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: black !important;
  transition: 0.3s ease;
  color: white;
}
